.curriculum .frame-3 {
    position: absolute;
    width: 1444px;
    height: 1024px;
    top: 20px;
    left: 710px;
    background-color: #ffffff;
  }
  
  .curriculum .frame-4 {
    position: absolute;
    width: 903px;
    height: 845px;
    top: 133px;
    left: 21px;
  }
  
  .curriculum .text-wrapper-12 {
    position: absolute;
    top: 20px;
    left: 60px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #009d80;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .curriculum .book-and-pencil {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 21px;
    left: 17px;
  }
  
  .curriculum .line-3 {
    position: absolute;
    width: 709px;
    height: 2px;
    top: 31px;
    left: 194px;
  }
  
  .curriculum .text-wrapper-13 {
    position: absolute;
    top: 71px;
    left: 17px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 17px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .curriculum .text-wrapper-14 {
    position: absolute;
    top: 113px;
    left: 17px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .curriculum .text-wrapper-15 {
    position: absolute;
    top: 113px;
    left: 189px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .curriculum .text-wrapper-16 {
    position: absolute;
    top: 240px;
    left: 136px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .curriculum .text-wrapper-17 {
    position: absolute;
    top: 113px;
    left: 722px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .curriculum .text-wrapper-18 {
    position: absolute;
    top: 71px;
    left: 452px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 17px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .curriculum .text-wrapper-19 {
    position: absolute;
    top: 95px;
    left: 452px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .curriculum .text-wrapper-20 {
    position: absolute;
    top: 113px;
    left: 452px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .curriculum .text-wrapper-21 {
    position: absolute;
    top: 95px;
    left: 17px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .curriculum .text-wrapper-22 {
    position: absolute;
    top: 157px;
    left: 59px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #009d80;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .curriculum .line-4 {
    position: absolute;
    width: 709px;
    height: 2px;
    top: 169px;
    left: 194px;
  }
  
  .curriculum .line-5 {
    position: absolute;
    width: 684px;
    height: 3px;
    top: 295px;
    left: 219px;
  }
  
  .curriculum .line-6 {
    position: absolute;
    width: 607px;
    height: 2px;
    top: 484px;
    left: 296px;
  }
  
  .curriculum .text-wrapper-23 {
    position: absolute;
    top: 198px;
    left: 17px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 17px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .curriculum .business-center {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 148px;
    left: 17px;
  }
  
  .curriculum .text-wrapper-24 {
    top: 240px;
    left: 17px;
    font-weight: 400;
    font-size: 15px;
    white-space: nowrap;
    position: absolute;
    font-family: "Inter", Helvetica;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .curriculum .text-wrapper-25 {
    position: absolute;
    top: 222px;
    left: 17px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .curriculum .text-wrapper-26 {
    position: absolute;
    top: 198px;
    left: 452px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 17px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .curriculum .text-wrapper-27 {
    position: absolute;
    top: 222px;
    left: 452px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .curriculum .text-wrapper-28 {
    position: absolute;
    top: 240px;
    left: 452px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .curriculum .text-wrapper-29 {
    position: absolute;
    top: 285px;
    left: 60px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #009d80;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .curriculum .lightbulb {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 277px;
    left: 17px;
  }
  
  .curriculum .text-wrapper-30 {
    top: 324px;
    left: 20px;
    font-weight: 600;
    font-size: 17px;
    position: absolute;
    font-family: "Inter", Helvetica;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .curriculum .text-wrapper-31 {
    position: absolute;
    top: 324px;
    left: 749px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 17px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .curriculum .text-wrapper-32 {
    position: absolute;
    top: 324px;
    left: 492px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 17px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .curriculum .text-wrapper-33 {
    position: absolute;
    top: 324px;
    left: 235px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 17px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .curriculum .angularjs {
    position: absolute;
    width: 74px;
    top: 367px;
    left: 20px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .curriculum .text-wrapper-34 {
    position: absolute;
    top: 348px;
    left: 20px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .curriculum .text-wrapper-35 {
    position: absolute;
    top: 348px;
    left: 123px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .curriculum .nodejs-express {
    position: absolute;
    top: 367px;
    left: 123px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .curriculum .text-wrapper-36 {
    position: absolute;
    top: 423px;
    left: 19px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .curriculum .text-wrapper-37 {
    left: 235px;
    position: absolute;
    top: 431px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .curriculum .text-wrapper-38 {
    left: 493px;
    position: absolute;
    top: 431px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .curriculum .javascript {
    position: absolute;
    top: 348px;
    left: 235px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .curriculum .windows-server {
    position: absolute;
    top: 348px;
    left: 749px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .curriculum .mongodb-firebase {
    position: absolute;
    top: 348px;
    left: 493px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .curriculum .text-wrapper-39 {
    position: absolute;
    top: 473px;
    left: 60px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #009d80;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .curriculum .text-wrapper-40 {
    position: absolute;
    top: 623px;
    left: 60px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #009d80;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .curriculum .military-tech {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 618px;
    left: 17px;
  }
  
  .curriculum .text-wrapper-41 {
    position: absolute;
    width: 876px;
    top: 536px;
    left: 20px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .curriculum .announcement {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 468px;
    left: 17px;
  }
  
  .curriculum .oracle-alura-next {
    position: absolute;
    top: 667px;
    left: 27px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .curriculum .text-wrapper-42 {
    position: absolute;
    top: 623px;
    left: 570px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #009d80;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .curriculum .reference {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 622px;
    left: 535px;
    color: #009d80;
  }

  .curriculum .reference1{
    position: absolute;
    top: 667px;
    left: 535px;
  }

  .curriculum .reference2{
    position: absolute;
    top: 765px;
    left: 535px;
  }


  @media screen and (max-width: 1700px){
    .curriculum .frame-3 {
      left: 550px;
    }
  }

  @media screen and (max-width: 1500px){
    .curriculum .frame-3 {
      left: 450px;
    }


  }

  @media screen and (max-width: 1400px){
    .curriculum .frame-3 {
      left: 400px;
    }
  }

  @media screen and (max-width: 1325px){
    .curriculum .frame-3 {
      left: 480px;
    }

    .curriculum .line-3, .curriculum .line-4{
      width: 240px;
      top: 210px;
      left: 190px;
    }

    .curriculum .line-5{
      left: 200px;
      width: 230px;
      top: 360px;
    }

    .curriculum .line-6{
      width: 180px;
      top: 680px;
      left: 260px;
    }


    .curriculum .text-wrapper-42{
      top: 880px;
      left: 60px;
      font-size: 17px;
    }

    .curriculum .reference{
      top: 880px;
      left: 28px;
      width: 30px;
      height: 30px;
    }

    .curriculum .reference1{
      top: 910px;
      left: 30px;
    }
    .curriculum .reference2{
      top: 1000px;
      left: 30px;
    }

    .curriculum .military-tech{
      width: 30px;
      height: 30px;
      top: 785px;
      left: 26px;
    }

    .curriculum .text-wrapper-40{
      font-size: 17px;
      top: 790px;
    }

    .curriculum .oracle-alura-next{
      font-size: 13px;
      top: 820px;
    }

    .curriculum .text-wrapper-41{
      width: 400px;
      font-size: 12px;
      top: 700px;
      left: 28px;
    }

    .curriculum .text-wrapper-39{
      font-size: 17px;
      top: 670px;
    }

    .curriculum .announcement{
      width: 30px;
      height: 30px;
      top: 665px;
      left: 26px;
    }

    .curriculum .text-wrapper-31{
      left: 30px;
      top: 510px;
    }

    .curriculum .windows-server{
      left: 30px;
      top: 540px;
    }

    .curriculum .text-wrapper-38{
      left: 230px;
      top: 640px;
    }

    .curriculum .text-wrapper-32{
      left: 230px;
      top: 510px;
    }

    .curriculum .mongodb-firebase{
      top: 540px;
      left:230px
    }

    .curriculum .text-wrapper-36{
      left: 30px;
      top: 480px;
    }
    .curriculum .text-wrapper-37{
      left: 230px;
      top: 480px;
    }

    .curriculum .text-wrapper-30{
      left: 30px;
      top: 380px;
    }

    .curriculum .text-wrapper-34{
      left: 30px;
      top: 410px;
    }

    .curriculum .angularjs{
      left: 30px;
      top: 430px;
    }

    .curriculum .nodejs-express{
      top: 430px;
    }
    .curriculum .text-wrapper-35{
      top: 410px;
    }

    .curriculum .text-wrapper-33{
      top: 380px;
      left: 230px;
    }

    .curriculum .javascript{
      top: 410px;
      left: 230px;
    }

    .curriculum .text-wrapper-29{
      font-size: 17px;
      top: 350px;
    }

    .curriculum .lightbulb{
      width: 30px;
      height: 30px;
      left: 27px;
      top:343px;
    }

    .curriculum .text-wrapper-26{
      left: 30px;
      top: 285px;
      font-size: 15px;
    }

    .curriculum .text-wrapper-27{
      left: 30px;
      top: 305px;
      font-size: 12px;
    }
    .curriculum .text-wrapper-28{
      left: 30px;
      top: 323px;
      font-size: 12px;
    }

    .curriculum .text-wrapper-23{
      left: 30px;
      font-size: 15px;
      top: 225px;
    }
    .curriculum .text-wrapper-25{
      left: 30px;
      font-size: 12px;
      top: 243px;
    }
    .curriculum .text-wrapper-24{
      left: 30px;
      font-size: 12px;
      top: 260px;
    }
    .curriculum .text-wrapper-16{
      left: 150px;
      font-size: 12px;
      top: 260px;
    }

    .curriculum .business-center{
      left: 30px;
      top: 190px;
      height: 30px;
      width: 30px;
    }

    .curriculum .text-wrapper-22{
      left: 70px;
      font-size: 17px;
      top: 200px;
    }

    .curriculum .text-wrapper-12{
      font-size: 17px;
      left: 70px;
    }

    .curriculum .book-and-pencil{
      width: 30px;
      height: 30px;
      left: 30px;
    }

    .curriculum .text-wrapper-13{
      left: 30px;
      top: 60px;
      font-size: 15px;
    }
    .curriculum .text-wrapper-14{
      left: 30px;
      top: 95px;
    }
    .curriculum .text-wrapper-15{
      left: 220px;
      top: 95px;
    }
    .curriculum .text-wrapper-21{
      left: 30px;
      top: 80px;
    }

    .curriculum .text-wrapper-18{
      left: 30px;
      top: 125px;
      font-size: 15px;
    }
    .curriculum .text-wrapper-19{
      left: 30px;
      top: 145px;
    }
    .curriculum .text-wrapper-20{
      left: 30px;
      top: 160px;
    }
    .curriculum .text-wrapper-17{
      left: 310px;
      top: 160px;
    }
  }

  @media screen and (max-width: 992px){
    .curriculum .frame-3 {
      left: 320px;
    }
  }

  @media screen and (max-width: 768px){
    .curriculum .frame-3 {
      left: 280px;
    }
  }

  @media screen and (max-width: 576px){
    .curriculum .frame-3 {
      left: 250px;
    }
  }
