<div class="curriculum">
<div class="frame-3">
  <div class="frame-4">
    <div class="text-wrapper-12">Education</div>
    <img
      class="book-and-pencil"
      src="../../../assets/book-and-pencil.png"
    />
    <img class="line-3" src="../../../assets/line-3.svg" />
    <div class="text-wrapper-13">Universidad de Guadalajara</div>
    <div class="text-wrapper-14">Computer Engineering</div>
    <div class="text-wrapper-15">2020 - Present</div>
    <div class="text-wrapper-16">2022 - Present</div>
    <div class="text-wrapper-17">2016 - 2020</div>
    <p class="text-wrapper-18">
      Centro de Enseñanza Técnica Industrial
    </p>
    <div class="text-wrapper-19">Plantel Colomos</div>
    <div class="text-wrapper-20">Software Development Technologist</div>
    <p class="text-wrapper-21">
      Centro Universitario de Ciencias Exactas e Ingenierias
    </p>
    <div class="text-wrapper-22">Experience</div>
    <img class="line-4" src="../../../assets/line-3.svg" />
    <img class="line-5" src="../../../assets/line-4.svg" />
    <img class="line-6" src="../../../assets/line-5-2.svg" />
    <div class="text-wrapper-23">Freelancer</div>
    <img
      class="business-center"
      src="../../../assets/business-center.svg"
    />
    <div class="text-wrapper-24">Web Solutions</div>
    <p class="text-wrapper-25">
      Clients: Universidad Tecnológica de Jalisco, CETI Cluster
    </p>
    <div class="text-wrapper-26">Relevant Projects</div>
    <p class="text-wrapper-27">
      BackTrading Platform: Automatic Trading web platform
    </p>
    <p class="text-wrapper-28">
      CleverTrip: intelligent tourism information web system
    </p>
    <div class="text-wrapper-29">Technologies</div>
    <img class="lightbulb" src="../../../assets/lightbulb.svg" />
    <div class="text-wrapper-30">Web</div>
    <div class="text-wrapper-31">Other</div>
    <div class="text-wrapper-32">Database</div>
    <div class="text-wrapper-33">Languajes</div>
    <div class="angularjs">HTML5<br />CSS3<br />AngularJS</div>
    <div class="text-wrapper-34">Front-End</div>
    <div class="text-wrapper-35">Back-End</div>
    <div class="nodejs-express">NodeJS<br />Express</div>
    <div class="text-wrapper-36">Medium - Advanced</div>
    <div class="text-wrapper-37">Medium - Advanced</div>
    <div class="text-wrapper-38">Medium - Advanced</div>
    <div class="javascript">
      Javascript<br />Typescript<br />Python<br />C#<br />C++
    </div>
    <p class="windows-server">
      Windows Server<br />SQLServer<br />Packet Tracer<br />VMWare /
      VirtualBox<br />Oracle DB Express<br />Visual Studio<br />Office
      365<br />Figma
    </p>
    <div class="mongodb-firebase">
      MongoDB<br />Firebase<br />MySQL Maria DB<br />PostgreSQL<br />Oracle
      Database
    </div>
    <div class="text-wrapper-39">Professional Interests</div>
    <div class="text-wrapper-40">Certificates</div>
    <img
      class="military-tech"
      src="../../../assets/military-tech.svg"
    />
    <p class="text-wrapper-41">
      Implement knowledge and both theoretical and practical skills
      acquired during my training as a technologist in software
      development and software engineer with the expectation of provide
      support to the organization, expand my knowledge and develop in
      the work field, professionally, as well as personally.
    </p>
    <img class="announcement" src="../../../assets/announcement.svg" />
    <p class="oracle-alura-next">
      Oracle Alura Next Education Front End Formation<br />Oracle Alura
      Next Education Object-Oriented Java Formation<br />Oracle Alura
      Next Education Basic Programming Formation
    </p>
    <p class="reference1">
      <strong>Moises Martinez</strong><br/>
      Engineer in automatic control and instrumentation <br/>
      +52 33 1147 5511 <br/>
      moisesmartinez@hotmail.com <br/>
    </p>
    <p class="reference2">
      <strong>Hector Flores</strong> <br/>
      Production Supervisor <br/>
      +52 33 2355 4367 <br/>
      hflores@bioscents.com.mx <br/>
    </p>
    <mat-icon class="reference">comment</mat-icon>
    <div class="text-wrapper-42">References</div>

  </div>
  
</div>
</div>