<html>
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <div class="frame">
      <div class="overlap">
        <div class="overlap-group">
          <div class="rectangle"></div>
          <img class="img" src="../../../assets/585e4bd7cb11b227491c3397-1.png" />
          <div class="div"></div>
          <p class="text-wrapper">
            Computer Engineering student and technologist in Agile, proactive, orderly Software Development, creative
            and effective. With good knowledge of English and in software technologies willing to learn and improve to
            provide greater satisfaction and benefits.
          </p>
        </div>
        <img class="vector" src="../../assets/vector.svg" />
        <div class="text-wrapper-2">Professional Profile</div>
      </div>
      <div class="text-wrapper-3">My Hobbies</div>
      <img class="line" src="../../../assets/line-5-2.svg" />
      <div class="overlap-2">
        <div class="overlap-3">
          <img class="sports-basketball" src="../../../assets/sports-basketball.svg" />
          <div class="text-wrapper-4">Sports</div>
        </div>
        <div class="text-wrapper-5">Practice and watch games</div>
      </div>
      <div class="overlap-4">
        <div class="overlap-5">
          <div class="text-wrapper-4">Music</div>
          <img class="headphones" src="../../../assets/headphones.png" />
        </div>
        <p class="p">Listen at my favourite songs</p>
      </div>
      <div class="overlap-6">
        <div class="rectangle-2"></div>
        <div class="text-wrapper-6">Videogames</div>
        <div class="text-wrapper-7">Play videogames with friends</div>
        <img class="videogame-asset" src="../../assets/videogame-asset.png" />
        <mat-icon class="vector-2">games</mat-icon>
      </div>
      <div class="overlap-7">
        <div class="overlap-8">
          <img class="img-2" src="../../../assets/dumbbell.png" />
          <div class="text-wrapper-8">Gym</div>
        </div>
        <p class="text-wrapper-9">Working out at the gym</p>
      </div>
      <div class="overlap-9">
        <div class="overlap-10">
          <div class="text-wrapper-4">instruments</div>
          <img class="cello" src="../../../assets/cello.png" />
        </div>
        <div class="text-wrapper-10">Play musical instruments</div>
      </div>
      <div class="overlap-11">
        <div class="overlap-8">
          <div class="text-wrapper-11">Lego</div>
          <img class="img-2" src="../../../assets/lego.png" />
        </div>
        <p class="text-wrapper-12">Build and collect Lego sets</p>
      </div>
    </div>
  </body>
</html>
