.curriculum {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .curriculum .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1920px;
    height: 1024px;
    position: relative;
  }
  
  .curriculum .frame {
    position: absolute;
    width: 477px;
    height: 1026px;
    top: -1px;
    left: -1px;
    background-color: #51bda3;
    border: 1px solid;
    border-color: transparent;
    border-image: linear-gradient(to bottom, rgb(83.54, 196.56, 169.44), rgba(255, 255, 255, 0)) 1;
  }
  
  .curriculum .email {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 331px;
    left: 35px;
    animation: slide-in-bottom 1s ease-out both;
  }
  
  .curriculum .phone {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 415px;
    left: 35px;
    animation: slide-in-bottom 1s ease-out both;
  }
  
  .curriculum .facebook {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 457px;
    left: 34px;
    animation: slide-in-bottom 1s ease-out both;
  }
  
  .curriculum .git-hub {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 499px;
    left: 34px;
    animation: slide-in-bottom 1s ease-out both;
  }
  
  .curriculum .clock {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 373px;
    left: 35px;
    animation: slide-in-bottom 1s ease-out both;
  }
  
  .curriculum .earth-planet {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 541px;
    left: 35px;
    animation: slide-in-bottom 1s ease-out both;
  }
  
  .curriculum .language-skill {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 583px;
    left: 34px;
    animation: slide-in-bottom 1s ease-out both;
  }
  
  .curriculum .advanced-medium {
    position: absolute;
    top: 588px;
    left: 83px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    animation: slide-in-bottom 1s ease-out both;
  }
  
  .curriculum .text-wrapper {
    position: absolute;
    width: 285px;
    top: 336px;
    left: 83px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    animation: slide-in-bottom 1s ease-out both;
  }
  
  .curriculum .text-wrapper-2 {
    position: absolute;
    top: 378px;
    left: 83px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    animation: slide-in-bottom 1s ease-out both;
  }
  
  .curriculum .text-wrapper-3 {
    position: absolute;
    top: 420px;
    left: 83px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    animation: slide-in-bottom 1s ease-out both;
  }
  
  .curriculum .text-wrapper-4 {
    position: absolute;
    top: 464px;
    left: 83px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    animation: slide-in-bottom 1s ease-out both;
  }
  
  .curriculum .text-wrapper-5 {
    position: absolute;
    top: 504px;
    left: 83px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    animation: slide-in-bottom 1s ease-out both;
  }
  
  .curriculum .frame-2 {
    position: absolute;
    width: 478px;
    height: 309px;
    top: 0;
    left: 0;
    background-image: url(../../../assets/teal-color-pastel-turquoise-simple-minimalist-backgrounds-background-pretty-backdrop_715671-1159.avif);
  }
  
  .curriculum .destroyers {
    position: absolute;
    width: 135px;
    height: 135px;
    top: 87px;
    left: 41px;
    border-radius: 100px;
    object-fit: cover;
    animation: slide-in-left 1s both;
  }
  
  .curriculum .text-wrapper-6 {
    position: absolute;
    top: 94px;
    left: 195px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 27px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .curriculum .text-wrapper-7 {
    position: absolute;
    top: 127px;
    left: 195px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .curriculum .element-years-old {
    position: absolute;
    top: 180px;
    left: 195px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .curriculum .text-wrapper-8 {
    position: absolute;
    top: 162px;
    left: 195px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .curriculum .p {
    position: absolute;
    top: 546px;
    left: 83px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    animation: slide-in-bottom 1s ease-out both;
  }
  
  .curriculum .text-wrapper-9 {
    position: absolute;
    top: 688px;
    left: 34px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .curriculum .line {
    position: absolute;
    width: 315px;
    height: 4px;
    top: 702px;
    left: 125px;
  }
  
  .curriculum .overlap-group {
    top: 594px;
    position: absolute;
    width: 100px;
    height: 8px;
    left: 325px;
    animation: slide-in-bottom 1s ease-out both;
  }
  
  .curriculum .img {
    position: absolute;
    width: 100px;
    height: 8px;
    top: 0;
    left: 0;
  }
  
  .curriculum .line-2 {
    position: absolute;
    width: 76px;
    height: 8px;
    top: 0;
    left: 0;
  }
  
  .curriculum .overlap {
    top: 613px;
    position: absolute;
    width: 100px;
    height: 8px;
    left: 325px;
    animation: slide-in-bottom 1s ease-out both;
  }
  
  .curriculum .team-work {
    position: absolute;
    top: 748px;
    left: 237px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    animation: slide-in-bottom 1s ease-out both;
  }
  
  .curriculum .computing {
    position: absolute;
    top: 748px;
    left: 35px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    animation: slide-in-bottom 1s ease-out both;
  }
  
  .curriculum .text-wrapper-10 {
    position: absolute;
    top: 722px;
    left: 35px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 17px;
    letter-spacing: 0;
    line-height: normal;
    animation: slide-in-bottom 1s ease-out both;
  }
  
  .curriculum .text-wrapper-11 {
    position: absolute;
    top: 722px;
    left: 238px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 17px;
    letter-spacing: 0;
    line-height: normal;
    animation: slide-in-bottom 1s ease-out both;
  }
  
  .curriculum .frame-wrapper {
    position: absolute;
    width: 1444px;
    height: 109px;
    top: 0;
    left: 478px;
    background-color: #515151;
  }
  
  .curriculum .frame-5 {
    position: relative;
    width: 920px;
    height: 56px;
    top: 23px;
    left: 26px;
  }
  
  .curriculum .text-wrapper-42 {
    position: absolute;
    top: 23px;
    left: 17px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    background-color: #515151;
  }
  
  .curriculum .text-wrapper-43 {
    position: absolute;
    top: 23px;
    left: 1180px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #6bf3d2;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    background-color: #515151;
  }
  
  .curriculum .text-wrapper-44 {
    position: absolute;
    top: 23px;
    left: 138px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    background-color: #515151;
  }

  .curriculum .text-wrapper-45 {
    position: absolute;
    top: 23px;
    left: 260px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    background-color: #515151;
  }
  
  .curriculum .home-filled {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 27px;
    left: 1300px;
  }

  .slide-in-bottom {
    animation: slide-in-bottom 1.8s ease-out both;
  }

  @keyframes slide-in-left {
    0% {
      transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slide-in-bottom {
    0% {
      transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }