.curriculum {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .curriculum .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1920px;
    height: 1024px;
    position: relative;
  }
  
  .curriculum .frame {
    position: absolute;
    width: 477px;
    height: 1400px;
    top: -1px;
    left: -1px;
    background-color: #51bda3;
  }




  
  .curriculum .email {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 331px;
    left: 35px;
    animation: slide-in-bottom 1s ease-out both;
  }
  
  .curriculum .phone {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 415px;
    left: 35px;
    animation: slide-in-bottom 1s ease-out both;
  }
  
  .curriculum .facebook {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 457px;
    left: 34px;
    animation: slide-in-bottom 1s ease-out both;
  }
  
  .curriculum .git-hub {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 499px;
    left: 34px;
    animation: slide-in-bottom 1s ease-out both;
  }
  
  .curriculum .clock {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 373px;
    left: 35px;
    animation: slide-in-bottom 1s ease-out both;
  }
  
  .curriculum .earth-planet {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 541px;
    left: 35px;
    animation: slide-in-bottom 1s ease-out both;
  }
  
  .curriculum .language-skill {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 583px;
    left: 34px;
    animation: slide-in-bottom 1s ease-out both;
  }




  
  .curriculum .advanced-medium {
    position: absolute;
    top: 588px;
    left: 83px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    animation: slide-in-bottom 1s ease-out both;
  }
  
  .curriculum .text-wrapper {
    position: absolute;
    width: 285px;
    top: 336px;
    left: 83px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    animation: slide-in-bottom 1s ease-out both;
  }
  
  .curriculum .text-wrapper-2 {
    position: absolute;
    top: 378px;
    left: 83px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    animation: slide-in-bottom 1s ease-out both;
  }
  
  .curriculum .text-wrapper-3 {
    position: absolute;
    top: 420px;
    left: 83px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    animation: slide-in-bottom 1s ease-out both;
  }
  
  .curriculum .text-wrapper-4 {
    position: absolute;
    top: 464px;
    left: 83px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    animation: slide-in-bottom 1s ease-out both;
  }
  
  .curriculum .text-wrapper-5 {
    position: absolute;
    top: 504px;
    left: 83px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    animation: slide-in-bottom 1s ease-out both;
  }
  
  .curriculum .frame-2 {
    position: absolute;
    width: 477px;
    height: 309px;
    top: 0;
    left: 0;
    background-image: url(../../../assets/teal-color-pastel-turquoise-simple-minimalist-backgrounds-background-pretty-backdrop_715671-1159.avif);
  }
  
  .curriculum .destroyers {
    position: absolute;
    width: 135px;
    height: 135px;
    top: 87px;
    left: 41px;
    border-radius: 100px;
    object-fit: cover;
    animation: slide-in-left 1s both;
  }
  
  .curriculum .text-wrapper-6 {
    position: absolute;
    top: 94px;
    left: 195px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 27px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .curriculum .text-wrapper-7 {
    position: absolute;
    top: 127px;
    left: 195px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .curriculum .element-years-old {
    position: absolute;
    top: 180px;
    left: 195px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .curriculum .text-wrapper-8 {
    position: absolute;
    top: 162px;
    left: 195px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .curriculum .p {
    position: absolute;
    top: 546px;
    left: 83px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    animation: slide-in-bottom 1s ease-out both;
  }
  
  .curriculum .text-wrapper-9 {
    position: absolute;
    top: 688px;
    left: 34px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .curriculum .line {
    position: absolute;
    width: 315px;
    height: 4px;
    top: 702px;
    left: 125px;
  }
  
  .curriculum .overlap-group {
    top: 594px;
    position: absolute;
    width: 100px;
    height: 8px;
    left: 325px;
    animation: slide-in-bottom 1s ease-out both;
  }
  
  .curriculum .img {
    position: absolute;
    width: 100px;
    height: 8px;
    top: 0;
    left: 0;
  }
  
  .curriculum .line-2 {
    position: absolute;
    width: 76px;
    height: 8px;
    top: 0;
    left: 0;
  }
  
  .curriculum .overlap {
    top: 613px;
    position: absolute;
    width: 100px;
    height: 8px;
    left: 325px;
    animation: slide-in-bottom 1s ease-out both;
  }
  
  .curriculum .team-work {
    position: absolute;
    top: 748px;
    left: 237px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    animation: slide-in-bottom 1s ease-out both;
  }
  
  .curriculum .computing {
    position: absolute;
    top: 748px;
    left: 35px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    animation: slide-in-bottom 1s ease-out both;
  }
  
  .curriculum .text-wrapper-10 {
    position: absolute;
    top: 722px;
    left: 35px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 17px;
    letter-spacing: 0;
    line-height: normal;
    animation: slide-in-bottom 1s ease-out both;
  }
  
  .curriculum .text-wrapper-11 {
    position: absolute;
    top: 722px;
    left: 238px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 17px;
    letter-spacing: 0;
    line-height: normal;
    animation: slide-in-bottom 1s ease-out both;
  }
  
  .curriculum .frame-wrapper {
    position: absolute;
    width: 1444px;
    height: 109px;
    top: 0;
    left: 476px;
    background-color: #515151;
  }
  
  .curriculum .frame-5 {
    position: relative;
    width: 920px;
    height: 56px;
    top: 23px;
    left: 26px;
  }
  
  .curriculum .text-wrapper-42 {
    position: absolute;
    top: 23px;
    left: 252px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    background-color: #515151;
  }
  
  .curriculum .text-wrapper-43 {
    position: absolute;
    top: 23px;
    left: 100px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #6bf3d2;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    background-color: #515151;
  }
  
  .curriculum .text-wrapper-44 {
    position: absolute;
    top: 23px;
    left: 380px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    background-color: #515151;
  }

  .curriculum .text-wrapper-45 {
    position: absolute;
    top: 23px;
    left: 260px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    background-color: #515151;
  }
  
  .curriculum .home-filled {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 27px;
    left: 2px;
  }

  .slide-in-bottom {
    animation: slide-in-bottom 1.8s ease-out both;
  }

  @keyframes slide-in-left {
    0% {
      transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slide-in-bottom {
    0% {
      transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }





  @media screen and (max-width: 1700px){ /*////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    .curriculum .frame, .curriculum .frame-2 {
      width: 450px;
    }
    .curriculum .frame-wrapper {
      left: 450px;
    }

    .curriculum .email, .curriculum .phone, .curriculum .facebook, .curriculum .git-hub, .curriculum .clock, .curriculum .earth-planet, .curriculum .earth-planet, .curriculum .language-skill {
      width: 27px;
      height: 27px;
    }

  }

  @media screen and (max-width: 1500px){ /*////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    .curriculum .frame{
      width: 400px;
    }

    .curriculum .frame-2{
      width: 400px;
    }

    .curriculum .frame-wrapper {
      left: 400px;
    }

    .curriculum .email, .curriculum .phone, .curriculum .facebook, .curriculum .git-hub, .curriculum .clock, .curriculum .earth-planet, .curriculum .earth-planet, .curriculum .language-skill {
      width: 25px;
      height: 25px;
    }

    .curriculum .destroyers{
      width: 125px;
      height: 125px;
      top: 55px;
      left: 150px;
    }
    .curriculum .text-wrapper-6{
      top: 190px;
      left: 135px;
      font-size: 24px;
    }
    .curriculum .text-wrapper-7{
      top: 230px;
      left: 95px;
      font-size: 13px;
    }
    .curriculum .text-wrapper-8{
      top: 250px;
      left: 95px;
      font-size: 13px;
    }
    .curriculum .element-years-old{
      top: 270px;
      left: 95px;
      font-size: 13px;
    }

    .curriculum .text-wrapper, .curriculum .text-wrapper-2, .curriculum .text-wrapper-3, .curriculum .text-wrapper-4, .curriculum .text-wrapper-5, .curriculum .p, .curriculum .advanced-medium{
      font-size: 14px;
      left: 70px;
    }

    .curriculum .img, .curriculum .line-2 {
      left: -50px;
    }

    .curriculum .line{
      width: 250px;
    }

    .curriculum .team-work{
      left: 200px;
      font-size: 12px;
    }

    .curriculum .computing{
      font-size: 12px;
    }

    .curriculum .text-wrapper-11{
      left: 200px;
    }

  }

  @media screen and (max-width: 1400px){ /*////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    .curriculum .frame, .curriculum .frame-2 {
      width: 370px;
    }
    .curriculum .frame-wrapper {
      left: 370px;
    }

    .curriculum .email, .curriculum .phone, .curriculum .facebook, .curriculum .git-hub, .curriculum .clock, .curriculum .earth-planet, .curriculum .earth-planet, .curriculum .language-skill {
      width: 22px;
      height: 22px;
    }

    .curriculum .destroyers{
      top: 55px;
      left: 125px;
    }

    .curriculum .text-wrapper-6{
      top: 190px;
      left: 110px;
    }
    .curriculum .text-wrapper-7{
      top: 230px;
      left: 70px;
    }
    .curriculum .text-wrapper-8{
      top: 250px;
      left: 70px;
    }
    .curriculum .element-years-old{
      top: 270px;
      left: 70px;
    }

    .curriculum .img, .curriculum .line-2 {
      left: -70px;
    }

    .curriculum .line{
      width: 220px;
    }
  }

  @media screen and (max-width: 1325px){
    .curriculum .div{
      height: 1300px;
    }

    .curriculum .img, .curriculum .line-2 {
      top: 50px;
      left: -180px;
    }

    .curriculum .line{
      width: 250px;
    }
  }

  @media screen and (max-width: 992px){ /*////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    .curriculum .frame, .curriculum .frame-2 {
      width: 320px;
    }
    .curriculum .frame-wrapper {
      left: 320px;
    }

    .curriculum .email, .curriculum .phone, .curriculum .facebook, .curriculum .git-hub, .curriculum .clock, .curriculum .earth-planet, .curriculum .earth-planet, .curriculum .language-skill {
      width: 20px;
      height: 20px;
    }

    .curriculum .destroyers{
      top: 55px;
      left: 105px;
    }

    .curriculum .text-wrapper-6{
      top: 190px;
      left: 75px;
    }
    .curriculum .text-wrapper-7{
      top: 230px;
      left: 45px;
    }
    .curriculum .text-wrapper-8{
      top: 250px;
      left: 45px;
    }
    .curriculum .element-years-old{
      top: 270px;
      left: 45px;
    }

    .curriculum .img, .curriculum .line-2 {
      top: 50px;
      left: -210px;
    }
    .curriculum .line{
      width: 180px;
    }

    .curriculum .team-work{
      left: 34px;
      top: 950px;
      font-size: 13px;
    }

    .curriculum .computing{
      font-size: 13px;
    }

    .curriculum .text-wrapper-11{
      left: 34px;
      top: 925px;
    }

    .curriculum .text-wrapper-9{
      font-size: 20px;
    }

  }

  @media screen and (max-width: 768px){ /*////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    .curriculum .frame, .curriculum .frame-2 {
      width: 280px;
    }
    .curriculum .frame-wrapper {
      left: 280px;
    }

    .curriculum .email, .curriculum .phone, .curriculum .facebook, .curriculum .git-hub, .curriculum .clock, .curriculum .earth-planet, .curriculum .earth-planet, .curriculum .language-skill {
      width: 19px;
      height: 19px;
    }
    .curriculum .line{
      width: 140px;
    }

    .curriculum .text-wrapper, .curriculum .text-wrapper-2, .curriculum .text-wrapper-3, .curriculum .text-wrapper-4, .curriculum .text-wrapper-5, .curriculum .p, .curriculum .advanced-medium{
      font-size: 12px;
      left: 70px;
    }

    .curriculum .destroyers{
      top: 55px;
      left: 85px;
    }

    .curriculum .text-wrapper-6{
      top: 190px;
      left: 75px;
    }
    .curriculum .text-wrapper-7{
      top: 230px;
      left: 40px;
    }
    .curriculum .text-wrapper-8{
      top: 250px;
      left: 40px;
    }
    .curriculum .element-years-old{
      top: 270px;
      left: 40px;
    }

    .curriculum .text-wrapper-42{
      left: 150px;
      font-size: 13px;
    }
    .curriculum .text-wrapper-43{
      left: 50px;
      font-size: 13px;
    }
    .curriculum .text-wrapper-44{
      left: 225px;
      font-size: 13px;
    }
    .curriculum .home-filled img{
      left: 0px;
      width: 25px;
      height: 25px;
    }
  }

  @media screen and (max-width: 576px){ /*////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    .curriculum .frame, .curriculum .frame-2 {
      width: 250px;
    }
    .curriculum .frame-wrapper {
      left: 250px;
    }

    .curriculum .email, .curriculum .phone, .curriculum .facebook, .curriculum .git-hub, .curriculum .clock, .curriculum .earth-planet, .curriculum .earth-planet, .curriculum .language-skill {
      width: 18px;
      height: 18px;
    }
    .curriculum .line{
      width: 110px;
    }

    .curriculum .text-wrapper, .curriculum .text-wrapper-2, .curriculum .text-wrapper-3, .curriculum .text-wrapper-4, .curriculum .text-wrapper-5, .curriculum .p, .curriculum .advanced-medium{
      font-size: 10px;
      left: 70px;
    }

    .curriculum .destroyers{
      width: 120px;
      height: 120px;
      top: 55px;
      left: 65px;
    }

    .curriculum .text-wrapper-6{
      top: 190px;
      left: 55px;
    }
    .curriculum .text-wrapper-7{
      top: 230px;
      left: 20px;
    }
    .curriculum .text-wrapper-8{
      top: 250px;
      left: 20px;
    }
    .curriculum .element-years-old{
      top: 270px;
      left: 20px;
    }
  }